.usefeulInfo {
    margin: 35px;
}

.divider {
    margin: 0;
    background: linear-gradient(to right, #C4C4D8 30%, transparent 30%);
    height: 2px;
    /* Adjust the height of the divider as needed */
}

.orderDot {
    width: 8px;
    height: 8px;
    background-color: #121262;
    border-radius: 50%;
}